nav{
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  display: flex;
  border-radius: 0;
  background-image: linear-gradient(to bottom, #212121 20%, #212121a1 60%, transparent);
  z-index: 5;
}
nav *{
  border-radius: 0;
}
#logo{
  display: flex;
  column-gap: 20px;
  align-items: center;
}
#logo > *{
  display: inline-block;
  line-height: 0px;
  font-size: 1em;
}
#nav-btn{
  padding: 5px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
#nav-btn div{
  height: 5px;
  width: 30px;
  border-radius: 2.5px;
  background-color: #00E5FF;
}
#logo img{
  height: 21px;
}
#nav-links{
  margin-left: auto;
}
#nav-links ul{
  display: none;
}
#nav-links-mob{
  position: fixed;
  margin: 70px 0;
  z-index: 5;
  display: none;
  right: 20px;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #81f2ffcc;
  height: 250px;
  width: 220px;
}
#nav-links-mob li{
  background-color: #212121;
  box-sizing: border-box;
  height: 40px;
  width: 190px;
  padding: 0 15px;
}
#nav-links-mob a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav-links-mob a h3{
  color: #ffffff;
  font-weight: 500;
}
#nav-links-mob a h2{
  color: #00E5FF;
  animation: arrow_animation 1s infinite;
}

/* Intro sectoin styles */
#intro{
  padding: 100px 20px 20px 20px;
  box-sizing: border-box;
  display: grid;
}
#intro-img{
  margin: 30px auto;
}
#intro-img div{
  background-color: #ffffff;
  height: 320px;
  width: 320px;
  margin: auto;
  border-radius: 20px;
}
#intro-img div div{
  background-color: #00E5FF;
  height: 320px;
  width: 320px;
  border-radius: 700px 50px 50px 50px;
}
#intro-buttons{
  display: flex;
  justify-content: space-evenly;
}
#intro-buttons a button{
  height: 28px;
}
#btn1{
  height: 28px;
  padding: 0 15px;
  background: transparent;
  border: solid 2px #00E5FF;
  display: flex;
  align-items: center;
  animation: btn_animation 1s infinite;
}
#btn1 h3{
  color: #00E5FF;
  font-size: 0.75em;
}
#intro-links{
  text-align: center;
  margin: 30px 0;
}
#intro-links ul{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  column-gap: 11px;
}
#intro-links ul li a img{
  height: 22px;
}
#intro-links ul li{
  background-color: #ffffff;
  height: 22px;
  animation: btn_animation 1s infinite;
}

/* Services section styles */
#services-sec{
  padding: 50px 20px;
}
#services-sec div ul{
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  margin: 30px 0;
  justify-content: space-evenly;
}
.service{
  height: 200px;
  width: 200px;
  background-color: white;
  padding: 20px;
  margin: 0 15px;
}
.service > div{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.service div div{
  background-color: #DFDFDF;
  border-radius: 50%;
  height: 53px;
  width: 53px;
}
.service-text{
  margin-bottom: auto;
}
#services-sec > a{
  margin: auto;
}

/* About section styles */
#about-sec{
  border-radius: 0;
  padding: 50px 20px;
}
#about-img{
  display: inline-block;
}
#about-img div{
  height: 320px;
  width: 320px;
  background-color: #00E5FF;
  margin: 30px auto;
}
#about-img div div{
  height: 320px;
  width: 320px;
  border-radius: 50px 50px 700px 50px;
  background-color: #212121;
}
#about-btn-sign{
  margin: 20px 0 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sign{
  font-family: "Segoe Script";
  font-weight: 400px;
  font-size: 28px;
}

/* Tools section styles */
#tools-sec{
  padding: 50px 20px;
  background-color: #00E5FF;
  border-radius: 0;
}
#tools{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  gap: 30px;
}
.tool > div{
  height: 168px;
  width: 112px;
  margin-top: 30px;
  border-radius: 150px;
  display: flex;
  flex-direction: column;
}
.odd > div{
  background-color: #ffffff;
}
.odd > div div{
  background-color: #212121;
}
.even > div{
  background-color: #212121;
}
.even > div *{
  color: #ffffff;
}
.even > div div{
  background-color: #ffffff;
}
.even > div span{
  margin-top: auto;
}
.tool div div{
  border-radius: 150px;
  height: 86px;
  width: 86px;
  margin: 12px auto;
}
.tool > div span{
  font-size: 23px;
}
.tool h3{
  margin-top: 13px;
}

/*  Portfolio section styles  */
#portfolio-sec{
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
}
#portfolio-sec > ul{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 30px;
}
.portfolio-item{
  height: 305px;
  width: 222px;
  margin: 0 20px;
  background-color: #ffffff;
}
.portfolio-item div{
  height: 212px;
  width: 212px;
  margin: 5px auto;
  background-color: #DFDFDF;
}
.portfolio-item ul{
  margin: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 1;
}
.portfolio-item ul li{
  background-color: #dfdfdf;
  padding: 10px 12px;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
}
#portfolio-sec a{
  margin: 30px auto 0 auto;
}

/* Education section styles */
#education-sec{
  padding: 50px 20px;
}
#education-sec *{
  box-sizing: border-box;
}
#education-sec > h3, #education-sec h1{
  text-align: center;
}
#education-sec .title{
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
#education-sec .text{
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
#education-sec > div{
  margin: 36px 0;
  display: flex;
  row-gap: 30px;
  flex-wrap: wrap;
}
.edu-ctn{
  background-color: #00E5FF;
  height: 300px;
  width: 282px;
  padding: 20px 16px;
  margin: auto;
}
.edu-ctn ul li{
  background-color: #ffffff;
  height: 112px;
  width: 250px;
  margin: 6px auto 0 auto;
  padding: 8px 11px;
}

/*  Testimonials section styles  */
#testimonials-sec{
  padding: 50px 20px;
  width: 100vw;
  box-sizing: border-box;
}
#testimonials-sec h3, #testimonials-sec h1{
  text-align: center;
}
#testimonials-sec ul{
  overflow-x: hidden;
  margin: 30px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
#testimonials-sec ul li{
  position: absolute;
  background-color: #ffffff;
  height: 152px;
  width: 270px;
  margin: 0 auto;
  padding: 12px;
  box-sizing: border-box;
  display: none;
  flex-direction: column;
}
.rating * {
  display: inline-block;
}
.star-rating {
  height: 50px;
  width: 200px;
}
.star-rating * {
  position: absolute;
  border-radius: 0;
}
.star-rating img{
  height: 50px;
  width: 200px;
}
.star-rating div{
  background-color: gold;
  height: 50px;
  width: 100%;
}
.testimonial-text{
  margin-bottom: auto;
}
.client-detail{
  height: 45px;
}
.client-detail > *{
  display: inline-block;
}
.client-detail img{
  height: 45px;
  width: 45px;
  background-color: #dfdfdf;
}
#testimonials-sec > div{
  display: flex;
  column-gap: 20px;
  justify-content: center;
  margin-top: 200px;
}
#testimonials-sec div button{
  height: 26px;
  width: 26px;
  animation: btn_animation 1s infinite;
}


/* Hire section styles  */
#hire-sec{
  background-color: #ffffff;
  border-radius: 0;
  padding: 50px 20px;
}
#hire-sec > div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 50px;
  column-gap: 30px;
}
#illustration-1{
  height: 250px;
  margin: auto;
}
#illustration-2{
  height: 200px;
}
#qualities-ctn{
  display: flex;
}
#qualities-ctn * {
  display: inline-block;
  color: #00E5FF;
}
#qualities-ctn ul{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  row-gap: 20px;
}
#qualities-ctn ul li{
  display: flex;
  align-items: center;
  column-gap: 10px;
}
#qualities-ctn ul li img{
  height: 30px;
  border-radius: 0;
}


/*  Contact section styles  */
#contact-sec{
  padding: 50px 20px;
}
#contact-sec > div {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 20px;
}
#contact-links{
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
#contact-links li *{
  display: inline-block;
}
#contact-links li div{
  height: 28px;
  width: 28px;
  margin: 10px 15px;
  background-color: #ffffff;
}
#contact-form{
  justify-self: fl;
  flex-shrink: 1;
  min-width: 250px;
  max-width: 350px;
}
#freelance-links-ctn ul{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 30px;
}
form input{
  padding: 14px 18px;
  border-radius: 30px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 12px;
}

form textarea{
  padding: 14px 18px;
  width: 100%;
  height: 138px;
  box-sizing: border-box;
  margin-top: 12px;
}
form input[type="submit"]{
  width: 124px;
  font-size: 17px;
  font-weight: bold;
  background-color: #00E5FF;
  animation: btn_animation 1s infinite;
}


/*  Footer section styles  */
footer *{
  border-radius: 0;
}
#connect{
  background-color: #ffffff;
  padding: 30px 20px 40px 20px;
}
#connect > div{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#footer-text{
  margin: 30px 0 40px 0;
  grid-column: span 2;
}
#footer-text div{
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  align-items: center;
  margin-bottom: 10px;
}
#footer-text div *{
  display: inline-block;
  line-height: 22px;
}
#footer-text img{
  height: 22px;
  animation: btn_animation 1s infinite;
}
#footer-text > ul{
  margin-top: 20px;
}
#footer-text ul > *{
  display: inline-block;
}
#footer-text > p{
  line-height: 18px;
}
#footer-nav ul li{
  margin-top: 12px;
}
#footer-nav ul li p{
  color: #00E5FF;
}
#footer-contact ul li{
  margin-top: 16px;
}
#footer-contact ul li a p{
  color: #00E5FF;
}
#copyright{
  height: 56px;
  background-color: #dfdfdf;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

/*  Animations  */
@keyframes arrow_animation {
  0%{
    transform: translate(-2px, 0px);
  }
  50%{
    transform: translate(2px, 0px);
  }
  100%{
    transform: translate(-2px, 0px);
  }
}
@keyframes btn_animation {
  0%{
    transform: scale(1.05);
  }
  50%{
    transform: scale(0.95);
  }
  100%{
    transform: scale(1.05);
  }
}
@keyframes line1-anim{
  0%{
    transform: rotate(0deg) translate(0px,0px);
  }
  100%{
    transform: rotate(45deg) translate(5px,5px);
  }
}
@keyframes line2-anim{
  0%{
    transform: rotate(0deg) translate(0px,0px);
  }
  100%{
    transform: rotate(-45deg) translate(5px,-5px);
  }
}
@keyframes line1-undo-anim{
  0%{
    transform: rotate(45deg) translate(5px,5px);
  }
  100%{
    transform: rotate(0deg) translate(0px,0px);
  }
}
@keyframes line2-undo-anim{
  0%{
    transform: rotate(-45deg) translate(5px,-5px);
  }
  100%{
    transform: rotate(0deg) translate(0px,0px);
  }
}
@keyframes element_appear {
  0%{
    transform: translate(50px, 0px);
    opacity: 0;
  }
  100%{
    transform: translate(0px, 0px);
    opacity: 100%;
  }
}
@keyframes slide_in {
  0%{
    transform: translate(300px, 0px);
    opacity: 0;
    display: none;
  }
  100%{
    transform: translate(0px, 0px);
    opacity: 100%;
    display: flex;
  }
}
@keyframes slide_out {
  0%{
    transform: translate(0px, 0px);
    opacity: 100%;
    display: flex;
  }
  100%{
    transform: translate(-300px, 0px);
    opacity: 0;
    display: none;
  }
}
@media (max-width: 375px) {
  h1{
    font-size: 1.7em;
  }
  #intro-img div{
    height: 80vw;
    width: 80vw;
  }
  #intro-img div div{
    height: 80vw;
    width: 80vw;
  }
  #intro-buttons{
    row-gap: 10px;
    flex-direction: column;
    align-items: center;
  }
  #intro-buttons a button{
    height: 20px;
  }
  #btn1{
    height: 20px;
    padding: 0 5px;
  }
  #about-img div{
    height: 80vw;
    width: 80vw;
    margin: 20px auto;
  }
  #about-img div div{
    height: 80vw;
    width: 80vw;
  }
  #illustration-2{
    display: none;
  }
  #footer-nav{
    grid-column: span 2;
    margin-bottom: 20px;
  }
  #footer-contact{
    grid-column: span 2;
  }
}
@media (min-width: 730px) {
  h1{
    font-size: 2.3em;
  }
  #intro{
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }
  #intro-buttons{
    margin: auto auto auto 0;
    order: 3;
    column-gap: 30px;
  }
  #intro-text{
    order: 1;
    margin: auto 0;
  }
  #intro-img{
    order: 2;
    grid-row: span 2;
    margin: 0 0 0 auto;
  }
  #intro-links{
    order: 4;
    grid-column: span 2;
  }
  #about-items{
    display: flex;
  }
  #about-text{
    padding: 20px 0 0 20px;
    margin: auto;
  }
}
@media (min-width: 1000px) {
  #services-sec, #about-sec, #tools-sec, #portfolio-sec, #education-sec, #testimonials-sec, #hire-sec, #contact-sec, #connect{
    padding-left: 45px;
    padding-right: 45px;
  }
  nav{
    padding: 30px 45px;
  }
  #nav-links button{
    display: none;
  }
  #nav-links ul{
    display: flex;
    column-gap: 60px;
  }
  #nav-links ul a{
    color: #00E5FF;
  }
  h1{
    font-size: 3em;
  }
  h3{
    font-size: 1.1em;
  }
  #nav{
    padding: 30px 45px;
  }
  #intro{
    padding: 100px 45px 20px 45px;
  }
  #testimonials-sec ul li{
    height: 200px;
    width: 400px;
    padding: 15px;
  }
  #testimonials-sec > div{
    margin-top: 250px;
  }
  #contact-sec > div {
    display: flex;
    flex-wrap: nowrap;
    row-gap: 50px;
    column-gap: 20px;
  }
  #contact-form{
    margin: auto;
  }
}
@media (min-width: 1200px) {
  #services-sec, #about-sec, #tools-sec, #portfolio-sec, #education-sec, #testimonials-sec, #hire-sec, #contact-sec, #connect{
    padding-left: 100px;
    padding-right: 100px;
  }
  nav{
    padding: 30px 100px;
  }
  #nav-links ul{
    display: flex;
    column-gap: 100px;
  }
  #nav-links ul a{
    color: #00E5FF;
  }
  h1{
    font-size: 4em;
  }
  h3{
    font-size: 1.3em;
  }
  #nav{
    padding: 30px 100px;
  }
  #intro{
    padding: 110px 100px 20px 100px;
  }
  #intro-img{
    margin: auto 0 auto auto;
  }
  #intro-img > div{
    height: 420px;
    width: 420px;
  }
  #intro-img div div{
    height: 420px;
    width: 420px;
  }
  #about-img{
    width: 450px;
    margin: 0 auto;
  }
  #about-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #about-text{
    margin: auto;
    padding: 0;
  }
  .portfolio-item{
    height: 500px;
    width: 322px;
  }
  .portfolio-item div{
    height: 400px;
    width: 312px;
  }
  .portfolio-item ul li{
    padding: 10px 20px;
  }
  .edu-ctn{
    height: 400px;
    width: 352px;
    padding: 20px 16px;
  }
  .edu-ctn ul li{
    height: 152px;
    width: 320px;
    margin: 16px auto 0 auto;
    padding: 8px 11px;
  }
  #contact-sec > div {
    display: flex;
    flex-wrap: nowrap;
    row-gap: 50px;
    column-gap: 20px;
  }
  #contact-form{
    margin: auto;
  }
}


